* {
    box-sizing: border-box;
    display: flexbox;
    justify-content: center;
}


body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.page-title { 
    justify-content: center;
    display: flex;
}

#questions {
padding: 30px;
font-size: 30px;
text-align: center;
}

.ques-container {
    margin-bottom: 0.8rem;
    width: 100%;
    border: 3px solid black;
    border-radius: 3px;
    min-width: 0.8rem;
    background: blueviolet;
    display: block;
    color: white;
}

.ques-container:hover{
    cursor: pointer;
    box-shadow: 0.35% thistle;
    transform: scale(0.97);
    transition: transform 80ms;
   

    
    
}

.highscore-container {
    padding: 25% 25%;
    margin: auto;
    border: 5px seagreen solid;
    justify-content: center;
}

.highscore-container h3 {
    display: flex;
}

.timer {
box-sizing:content-box
}
