* {
    box-sizing: border-box;
    padding: 2%;
    margin: auto;
    
   
   
  
   
}


body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.page-title { 
    display: flex;
    align-items: center;
    justify-content: center;
}

#questions {
padding: 30px;
font-size: 40px;
text-align: center;
}

.ques-container {
    margin-bottom: 0.8rem;
    width: 100%;
    border: 3px solid black;
    border-radius: 3px;
    min-width: 0.8rem;
    background: blueviolet;
    display: block;
    color: white;
    font-size: 55px;
}

.ques-container:hover{
    cursor: pointer;
    box-shadow: 0.35% thistle;
    transform: scale(0.97);
    transition: transform 80ms;
   

    
    
}

.highscore-container {
    padding: 95%;
    border: 5px seagreen solid;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.highscore-container h3 {
    display: flex;
}

.timer {
box-sizing:content-box
}

@media screen and (max-width: 780px) {
    .ques-container {
        min-width: 25rem;
    }
}